.mainContent p {
    padding-left: 10px;
    padding-right: 10px;
}

.mainContent div {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: darkgreen;
}

a:hover {
    color: #E2C078;
}

hr {
    width: 60%;
    margin-top: 23px;
}

.opening {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.codeBox{
    background-color: #ededed;
}

.codeResponse {
    background-color: #ededed;
    display: inline-block;
}

.background {
    background-color: #847C6F;
    padding: 0px;
    margin: 0px;
    font-family:Tahoma, serif;
}

.mainContent {
    background-color: #F0EEE1;
    margin-left: 12%;
    margin-right: 12%;
}

.banner {
    background-color: #313842;
    height: 60px;
    margin-top: 0px;
}

.bannerContainer {
    height: 50px;
    display: table;
    margin-left: 12%;
    padding-top: 8px;
}

.bannerText {
    color: white;
    font-size: 28px;
    display: table-cell;
    vertical-align: middle;
}
