beautifulsoup4==4.4.1
decorator==4.0.11
dj-config-url==0.1.1
dj-database-url==0.4.2
Django==1.9.5
django-bootstrap3==8.2.3
django-cors-headers==1.1.0
django-debug-toolbar==1.4
django-extensions==1.6.1
django-filter==1.0.1
django-rest-swagger==0.3.6
djangorestframework==3.3.3
gunicorn==19.6.0
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
nbformat==4.3.0
numpy==1.11.0
pandas==0.18.1
plotly==2.0.8
psycopg2==2.6.1
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
requests==2.9.1
six==1.10.0
sqlparse==0.1.19
traitlets==4.3.2
whitenoise==3.0
