{% extends 'fights/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h1>Data Explorer</h1>
    <p>
        Select some fighter statistics and we will search our entire fight database to determine how often fighters
        matching those stats win.
    </p>
    <form method="post" action="{% url 'data_results' %}" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit="Create" %}{% endbuttons %}

    </form>

{% endblock %}