{% extends 'fights/base.html' %}

{% block content %}
{#<div class="mainContent">#}
    <div class="opening">
        <p>
            Hello and welcome to MMA API, a collection of Mixed Martial Arts data. This is a project to collect and analyze
            fight statistics and take a Moneyball-type approach to the sport.

        </p>
    </div>

    <hr></hr>

    <div>
        <p><h3>Why make this?</h3></p>
        <p>As a huge fan of both MMA and sports analytics I have often wondered
            about things like "How well do fighters age?" and "Does a high
            finish rate predict future success?". After looking and not finding
            a good dataset to work with I decided to make my own.
        </p>

        <p>
            This is a work in progress and I am actively adding more information.
            The database is updated daily and currently has all {{ fighters }} fighters,
            {{ fights }} fights, and {{ events }} events in UFC history. Going forward I would like
            to add more organizations and other interesting information such
            as betting lines for each fight.
        </p>
    </div>

    <hr></hr>

    <div>
        <p><h3>How does it work?</h3></p>
        <p>
            Head on over to the <a href="{% url 'data_explorer' %}">Data Explorer</a> page to play around with it. There
            you can select certain fighter traits to see how often they win, both on average and broken down by age. For
            a simple example enter ages 20 - 35 to see how win rates change over time. More ways of analyzing and
            visualizing the data is on the way.
        </p>

        <p>
            There is plenty more data to work with, which I have exposed through a REST API. Check out the
            <a href="/docs/">Swagger API Docs</a> to get a sense of what is there. Feel free to contact me if you would
            like access to the data.
        </p>

        <p>
            As an example of one fight <a href="{% url 'fight_detail' 2335 %}"><span class="codeBox">www.mmaapi.com/fight/2335/</span></a>
            returns the following JSON object:
            <span class="codeBox">
            <pre>
                <code class="codeResponse">
                {{ fight_ex }}
                </code>
            </pre>
                </span>
        </p>


    </div>

    <hr>
    <div>
    <p><h3>Are there any errors in the data?</h3></p>
    <p>
        Almost for sure! Collecting real world information and creating data features is often a tricky process. I have
        done my best to keep everything accurate but there could be a few fights or the occasional field missing.
    </p>
    </div>

    <hr>

    <div class="bottom-section">
        <p><h3>Feedback</h3></p>
        <p>
            The code can be viewed on <a href="https://github.com/fight-api">Github</a> and collaborations are welcome.
            Feel free to open an issue or email me with any questions or suggestions you have. My email is listed on my
            <a href="https://github.com/AaronScruggs">GitHub profile</a>.
            I'd love to discuss interesting use cases for the data or ways the information could be expanded. If you
            would like access to the API for a separate project shoot me an email and I will get you an API key.
        </p>
    </div>

{#</div>#}
{% endblock %}