{% extends 'fights/base.html' %}

{% block content %}
<div class="mainContent">
    <div class="opening">
        <p>
        Hello and welcome to MMAAPI, a REST API for Mixed Martial Arts data.
        If you aren't sure what that means, don't worry. An API is just a way
        for computer programs to communicate and share information. If you just
        want to see the data you can do so in your browser.
        </p>
    </div>

    <hr></hr>

    <div>
        <p><h3>Why make this?</h3></p>
        <p>As a huge fan of both MMA and sports analytics I have often wondered
            about things like "How well do fighters age?" and "Does a high
            finish rate predict future success?". After looking and not finding
            a good dataset to work with I decided to make my own
            and put an API on it so others can use it too.
        </p>

        <p>
            This is a work in progress and I am actively adding more information.
            The database is updated daily and currently has all {{ fighters }} fighters,
            {{ fights }} fights, and {{ events }} events in UFC history. Going forward I would like
            to add more organizations and other interesting information such
            as betting lines for each fight.
        </p>
    </div>

    <hr></hr>

    <div>
        <p><h3>How does it work?</h3></p>
        <p>
            The data is accessed through a typical REST format. I'll explain what that means but
            if you are familiar with that structure you might want to head straight to the
            <a href="http://www.mmaapi.com/docs/">Swagger Docs</a> which break down all of the API endpoints.


        </p>

        <p>
            All of the data is accessed from www.mmaapi.com/api/ + whatever type of data you want.
            Make a GET request through code or your browser to
            <a href="{% url 'fighter_list' %}"><span class="codeBox">www.mmaapi.com/api/fighter/</span>     </a>
            and you will get a json object with a list of fighters and their id numbers. Add an id number to the url
            and will get more detailed information about that specific fighter.
        </p>

        <p>
            For example the id for Amanda Nunes is 486.
            <a href="{% url 'fighter_detail' 486 %}"><span class="codeBox">www.mmaapi.com/fighter/486/</span></a> returns an object with
            her bio information, all of her won and lost fights, and some career statistics.
        </p>

        <p>
            The same can be done for fights. <a href="{% url 'fight_list' %}"><span class="codeBox">www.mmaapi.com/fight/</span></a>
            returns a list of events and <a href="{% url 'fight_detail' 2335 %}"><span class="codeBox">www.mmaapi.com/fight/2335/</span></a>
            returns the following object:
            <span class="codeBox">
            <pre>
                <code class="codeResponse">
                {{ fight_ex }}
                </code>
            </pre>
                </span>
        </p>

        <p>
            This works for <a href="{% url 'event_list' %}"><span class="codeBox">events</span></a>
            and any other resource in the database.
            Check out the docs page for complete documentation.

        </p>


    </div>

    <hr>

    <div class="bottom-section">
        <p><h3>Feedback</h3></p>
        <p>
            The code can be viewed on <a href="https://github.com/fight-api">Github</a>.
            Feel free to open an issue or email me through my profile there with any questions or suggestions you have.
            I'd love to discuss interesting use cases for the data or ways the information could be expanded.
        </p>
    </div>

</div>
{% endblock %}